.dashboard-card {
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Efecto hover */
.dashboard-card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  filter: brightness(1.1);
}

.dashboard-card .card-body h5 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.dashboard-card .card-body h2 {
  font-weight: bold;
}


